<a href="https://colab.research.google.com/github/InaLuo2022/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns= ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
df_tem = application_df["APPLICATION_TYPE"].value_counts()
df_tem

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df_count = application_df["CLASSIFICATION"].value_counts()
application_df_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df_count[application_df_count>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
application_df_count[application_df_count > 1000]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df_count[application_df_count<1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_AFFILIATION = pd.get_dummies(application_df['AFFILIATION'])
dummies_USE_CASE = pd.get_dummies(application_df['USE_CASE'])
dummies_ORGANIZATION = pd.get_dummies(application_df['ORGANIZATION'])
dummies_INCOME_AMT = pd.get_dummies(application_df['INCOME_AMT'])

concatenated = pd.concat([application_df,dummies_AFFILIATION, dummies_USE_CASE, dummies_ORGANIZATION,dummies_INCOME_AMT], axis="columns")
concatenated

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,...,Trust,0,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,...,0,1,0,0,0,0,0,0,0,0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,...,0,0,1,0,0,0,0,0,0,0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,...,1,0,0,1,0,0,0,0,0,0
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0,...,0,1,0,0,0,0,0,0,0,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1,...,0,1,0,0,0,0,0,0,0,0
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
# drop categorical data
concatenated_df = concatenated.drop(columns=['APPLICATION_TYPE', 'CLASSIFICATION', 'AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'STATUS'])
concatenated_df

,ASK_AMT,IS_SUCCESSFUL,CompanySponsored,Family/Parent,Independent,National,Other,Regional,CommunityServ,Heathcare,...,Trust,0,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M
0,5000,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,1,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [13]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ASK_AMT           34299 non-null  int64
 1   IS_SUCCESSFUL     34299 non-null  int64
 2   CompanySponsored  34299 non-null  uint8
 3   Family/Parent     34299 non-null  uint8
 4   Independent       34299 non-null  uint8
 5   National          34299 non-null  uint8
 6   Other             34299 non-null  uint8
 7   Regional          34299 non-null  uint8
 8   CommunityServ     34299 non-null  uint8
 9   Heathcare         34299 non-null  uint8
 10  Other             34299 non-null  uint8
 11  Preservation      34299 non-null  uint8
 12  ProductDev        34299 non-null  uint8
 13  Association       34299 non-null  uint8
 14  Co-operative      34299 non-null  uint8
 15  Corporation       34299 non-null  uint8
 16  Trust             34299 non-null  uint8
 17  0                 34299 non-null  uint8
 18  1-9999            34299 non-null  uint8
 19  10000-24999       34299 non-null  uint8
 20  100000-499999     34299 non-null  uint8
 21  10M-50M           34299 non-null  uint8
 22  1M-5M             34299 non-null  uint8
 23  25000-99999       34299 non-null  uint8
 24  50M+              34299 non-null  uint8
 25  5M-10M            34299 non-null  uint8
dtypes: int64(2), uint8(24)
memory usage: 1.3 MB

In [14]:
# Split our preprocessed data into our features and target arrays
y = concatenated_df['IS_SUCCESSFUL']
X = concatenated_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
X_train.shape

(25724, 25)

In [16]:
X_test.shape

(8575, 25)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=25))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation="tanh"))

# third hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 6)                 156

 dense_8 (Dense)             (None, 20)                140

 dense_9 (Dense)             (None, 10)                210

 dense_10 (Dense)            (None, 1)                 11

=================================================================
Total params: 517
Trainable params: 517
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 3s 2ms/step - loss: 0.6248 - accuracy: 0.6777
Epoch 2/20
804/804 [==============================] - 2s 2ms/step - loss: 0.6045 - accuracy: 0.6942
Epoch 3/20
804/804 [==============================] - 2s 3ms/step - loss: 0.6024 - accuracy: 0.6957
Epoch 4/20
804/804 [==============================] - 2s 2ms/step - loss: 0.6015 - accuracy: 0.6964
Epoch 5/20
804/804 [==============================] - 2s 2ms/step - loss: 0.6011 - accuracy: 0.6954
Epoch 6/20
804/804 [==============================] - 2s 2ms/step - loss: 0.6007 - accuracy: 0.6959
Epoch 7/20
804/804 [==============================] - 2s 2ms/step - loss: 0.6002 - accuracy: 0.6973
Epoch 8/20
804/804 [==============================] - 2s 2ms/step - loss: 0.6003 - accuracy: 0.6969
Epoch 9/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5999 - accuracy: 0.6974
Epoch 10/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5999 - accuracy: 0.6984
Epoch 11/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5998 - accuracy: 0.6983
Epoch 12/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5995 - accuracy: 0.6979
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5994 - accuracy: 0.6990
Epoch 14/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5994 - accuracy: 0.6983
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5993 - accuracy: 0.6986
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5992 - accuracy: 0.6981
Epoch 17/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5992 - accuracy: 0.6987
Epoch 18/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5989 - accuracy: 0.6996
Epoch 19/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5992 - accuracy: 0.6990
Epoch 20/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5990 - accuracy: 0.6987

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5991 - accuracy: 0.7006 - 462ms/epoch - 2ms/step
Loss: 0.5991442799568176, Accuracy: 0.700641393661499

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

In [ ]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=25))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [ ]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [ ]:
tuner.search(X_train_scaled,y_train,epochs=10,validation_data=(X_test_scaled,y_test))